body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.content {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #f4f4f4;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
}

.navbar-left a,
.navbar-right a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-left a:hover,
.navbar-right a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #3498db;
    color: white;
}

.navbar-right {
    display: flex;
}

.navbar-right a.logout {
    background-color: #e74c3c;
    color: white;
    padding-right: 20px;
}

.product-form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.product-action {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.input-action {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}



.input-action {
    display: inline-block;
    align-items: center;
    width: calc(10% - 10px);
}


.btn-action {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-action.add,
.btn-action.search,
.btn-action.edit,
.btn-action.help,
.btn-action.cobrar {
    background-color: #3498db;
    color: white;
}

.btn-action.delete,
.btn-action.back,
.navbar-right a.logout {
    background-color: #e74c3c;
    color: white;
}

.btn-action:hover,
.cobrar:hover {
    background-color: #2980b9;
}

.help {
    background-color: #f1c40f;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.product-form .action {
    text-align: center;
    margin-top: 20px;
}

.product-form .action .btn-action {
    width: auto;
    padding: 10px 40px;
}

td input[type="radio"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.lista-miembros {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.lista-miembros h2 {
    margin-bottom: 15px;
}


.filters-container {
    display: flex;
    justify-content:center;
    align-items: center;
}

.input-field,
.btn-action {
    height: 32px;
    padding: 5px 10px; 
    font-size: 14px; 
    line-height: 1.2; 
    border: 1px solid #ccc;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 2px;
}

.filters-container {
    gap: 10px; 
}

.btn-action {
    height: 38px;
    padding: 0 15px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: 1px solid transparent;
}

.btn-action.search {
    background-color: #2980b9; 
}

.btn-action:hover {
    background-color: #2980b9;
    border-color: #fff; 
}

.search-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-group .input-field {
    flex-grow: 1;
    margin-right: 0; 
}

table {
    margin-left: auto;
    margin-right: auto;
}

.search-sale-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-sale-form .form-group {
    margin-right: 10px; 
}

.btn-action.devolver {
    background-color: #e74c3c; 
    color: white;
}

.btn-action.devolver:hover {
    background-color: #c0392b; 
}